<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template EJS - TODOLIST</title>
</head>
<body>
    
    <h1 style = 'color: blue'><%= today %></h1>

    <ul>
        <li><%= newListItem %></li>
    </ul>

    <form action="/" method="post">
        <input type="text" name="todoInput" id="todo-input" placeholder="Digite seu TODO">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>