<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template EJS - TODOLIST</title>
</head>
<body>
    <% if (day === 'Domingo' || day === 'Sábado'){ %>
        
    }
    <h1><%= day %></h1>
    <p>Vamos nos esforçar</p>
    <button>Trabalhar</button>
</body>
</html>