<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template EJS - TODOLIST</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <div class="container">
        
        <div class="container-form">
            
            <h1><%= today %></h1>
        
            <div class="box">
                
                <% for(let i = 0; i < newListItem.length; i++){ %>
                    <div class="item">
                        <input type="checkbox">
                        <p> <%= newListItem[i] %> </p>
                    </div>
                <% } %>

            </div>

            <form class="form" action="/" method="post">
                <input type="text" name="todoInput" id="todo-input" placeholder="Digite seu TODO">
                <button type="submit">Enviar</button>
            </form>
    
        </div>

    </div>
</body>
</html>